.Profile{
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-image: url('https://www.syfy.com/sites/syfy/files/wire/legacy/ironman3cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow:auto;
  
}
/*scrollbar */
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
 

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(10, 180, 180, 1), rgba(20, 40, 40, .8));; 
 
}


::-webkit-scrollbar-thumb:hover {
  background: "rgba(20, 40, 40, .8)"; 
}



.bgcard {
  width: 80%;
  position: relative;
  margin: auto;
  margin-top: 0px;
  background: rgba(20, 40, 40, .8);
}
.bgAvatar{
  width: 150px !important;
  height: 150px !important;
  margin-left: 25px;
  margin-top: 25px;
}


.about{
  margin-left: 65px;
  margin-top: 40px;
  font-size: 20px;
  color: whitesmoke;
}

.SignOut{
  margin-top: 30px;
}

.icon{
  color:rgba(10, 180, 180, 1);
} 